In [42]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import numpy as np
from time import sleep
import pdb

In [3]:
# URL = 'https://www.sports-reference.com/cbb/postseason/2017-ncaa.html'
# page = requests.get(URL)

# soup = bs(page.content, 'html.parser')
# results = soup.find(id='brackets')
# print(results.get_text())

In [43]:
def get_table(year):
    """This function gets the table for the NCAA stats for
    the given year.
    
    Parameters:
        year (string): the year to get the data for
        
    Returns:
        df (pandas.Dataframe): the dataframe containing the stats for the given year
    """
    # construct url and get the table using pandas.read_html
    URL = 'https://www.sports-reference.com/cbb/seasons/{}-school-stats.html'.format(year)
    information = pd.read_html(URL)
    
    # save table as a DataFrame
    df = information[0]
    
    # Dropping the nonsense rows
    index1 = df[df.iloc[:,1] == 'School'].index
    index2 = df[df.iloc[:,2] == 'Overall'].index
    df.drop(index1, inplace=True)
    df.drop(index2, inplace=True)
    
    # We rename thje school column
    col = [' '.join(tup) for tup in df.columns]
    df.columns = col
    df = df.rename(columns={'Unnamed: 1_level_0 School':'School'})
    
    # We drop NaN columns
    col2 = [name for name in df.columns if name[:7] == "Unnamed"]
    df.drop(columns=col2, inplace=True)
    
    # We found more data that will not help us train
    drop = ['Overall SRS', 'Conf. W', 'Conf. L', 'Home W', 'Home L', 'Away W', 'Away L']
    df.drop(columns=drop, inplace=True)
    
    # These are the columns we normalize by number of games played
    normalize = ['Points Tm.', 'Points Opp.', 'Totals MP', 'Totals FG', 'Totals FGA', 
                 'Totals 3P', 'Totals 3PA', 'Totals FT', 'Totals FTA', 'Totals ORB', 
                 'Totals TRB', 'Totals AST', 'Totals STL', 'Totals BLK', 'Totals TOV', 'Totals PF']
    for i in normalize:
        df[i] = df[i].astype('float64')/df['Overall G'].astype('float64')
    
    # Identify which schools went to the NCAA tournament
    labels = ['NCAA' in school for school in df['School']]
    targets = pd.Series(labels, df.index)
    df['Class'] = targets
    
    # Drop the Total Minutes Played
    df.drop(['Totals MP'], axis=1, inplace=True)
    
    # Filling in missing data with mean of that column
    for n,i in enumerate(sum(df.isnull().values)):
        if i != 0:
            pdb.set_trace()
            mean = value=df.iloc[:,n].mean()
            df.iloc[:,n].fillna(mean, inplace=True)
    
    # return the cleaned DataFrame
    return df

In [34]:
def get_seasons_data(start, end):
    """Get a range of seasons data and write it to CSV files
    
    Params:
        start (int): starting year
        end (int): ending year
        
    Returns:
        nothing
    """
    # create the list of years
    years = [i for i in range(start, end+1, 1)]
    
    # call get_table on every year in the list
    for year in years:
        table = get_table(year)
        table.to_csv(f'NCAA_Season_Stats_{year}.csv', index=False)
        sleep(np.random.randint(1, 10))

In [6]:
# we get all the data we need here
# get_seasons_data(2000,2015)

In [7]:
# This is where we could try and get data on their seeding
#info = pd.read_html('https://en.wikipedia.org/wiki/2012_NCAA_Division_I_Men%27s_Basketball_Tournament')

In [8]:
test_df = pd.read_csv('NCAA_Season_Stats_2014.csv')

In [9]:
test_df

,School,Overall G,Overall W,Overall L,Overall W-L%,Overall SOS,Points Tm.,Points Opp.,Totals MP,Totals FG,...,Totals FTA,Totals FT%,Totals ORB,Totals TRB,Totals AST,Totals STL,Totals BLK,Totals TOV,Totals PF,Class
0,Abilene Christian,31,11,20,0.355,-4.12,71.419355,71.870968,40.483871,23.774194,...,21.483871,0.749,9.870968,32.612903,12.967742,7.129032,2.322581,14.612903,20.677419,False
1,Air Force,30,12,18,0.400,1.71,66.000000,69.133333,40.333333,22.633333,...,19.600000,0.690,8.766667,32.333333,13.966667,5.466667,3.133333,13.333333,18.766667,False
2,Akron,34,21,13,0.618,-0.48,68.588235,66.941176,40.441176,23.911765,...,22.058824,0.623,12.117647,34.558824,11.382353,6.617647,4.176471,13.117647,17.823529,False
3,Alabama A&M,30,14,16,0.467,-10.58,64.533333,67.000000,40.500000,21.866667,...,22.466667,0.656,10.000000,33.833333,12.666667,6.233333,4.166667,13.200000,21.433333,False
4,Alabama-Birmingham,31,18,13,0.581,-0.77,73.096774,70.322581,40.483871,25.806452,...,24.903226,0.658,16.387097,44.548387,12.645161,5.451613,4.129032,13.000000,17.516129,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,Wright State,36,21,15,0.583,-2.80,67.194444,62.055556,40.000000,22.694444,...,21.250000,0.739,7.305556,29.472222,13.694444,7.055556,3.055556,13.333333,19.666667,False
347,Wyoming,33,18,15,0.545,2.34,64.545455,61.666667,40.606061,21.939394,...,20.878788,0.716,5.181818,28.878788,12.484848,4.696970,3.757576,10.484848,16.757576,False
348,Xavier NCAA,34,21,13,0.618,8.14,71.823529,68.117647,40.294118,25.558824,...,22.647059,0.688,11.147059,35.676471,14.617647,5.764706,2.852941,12.382353,19.823529,True
349,Yale,33,19,14,0.576,-1.28,66.939394,66.121212,40.181818,21.848485,...,25.848485,0.694,12.060606,35.727273,11.484848,6.151515,4.181818,12.939394,19.303030,False
350,Youngstown State,32,15,17,0.469,-1.26,76.906250,74.062500,40.781250,26.125000,...,22.968750,0.735,9.281250,33.281250,15.593750,6.656250,2.687500,11.156250,18.968750,False

In [44]:
a_df = get_table(1997)
test = sum(a_df.isnull().values)
test

> <ipython-input-43-a7514e4a5749>(56)get_table()
     54         if i != 0:
     55             pdb.set_trace()
---> 56             df.iloc[:,n].fillna(value=df.iloc[:,n].mean(), inplace=True)
     57
     58     # return the cleaned DataFrame

ipdb> i
1
ipdb> n
TypeError: can only concatenate str (not "int") to str
> <ipython-input-43-a7514e4a5749>(56)get_table()
     54         if i != 0:
     55             pdb.set_trace()
---> 56             df.iloc[:,n].fillna(value=df.iloc[:,n].mean(), inplace=True)
     57
     58     # return the cleaned DataFrame

ipdb> q

BdbQuit:

In [28]:
for n,i in enumerate(test):
    if i != 0:
        a_df.iloc[:,n].fillna(value=a_df.iloc[:,n].mean(), inplace=True)
        
# a_df['Totals PF'].fillna(value=a_df['Totals PF'].mean(), inplace=True)
sum(a_df.isnull().values)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0])